@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@700&display=swap');

:root{
  --text-color:#072163;
}
html{
	scroll-behavior: smooth;
  
}
body{
  
	overflow-x: hidden;
	position: relative;
	font-size: 110%;
}

.logo-name{
  font-family: 'Open Sans', sans-serif;
  margin-left: 90px;
}
.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.social-buttons a::before{
  content: "";
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,#22a6b3,#30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

/*****************************************************************//************************NAVIGATION AND MAIN HEADER ************/

#main-header {
  background-color: #B6C4E7;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  overflow: hidden;
}
.nav-scroll{
background-color: #B6C4E7;

}
.nav-menu{
  display: flex;
  justify-content: space-between;
  
}
#nav-btn
{
  color :var(--text-color);
}
.nav-menu a 
{
  text-decoration: none;
  color:#072163;
}
#main-header #nav {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#main-header #nav .navbar-brand .logo {
  position: relative;
  font-size: 2rem;
  padding: 0.3rem 0.85rem;
  top: 1.1rem;
}

#main-header #nav .navbar-brand .logo-name {
  position: relative;
  top: 4px;
}

#main-header #nav .navbar-brand .logo-title {
  position: relative;
  font-size: 70%;
  top: -12px;
  left: 40px;
}
.typewriter  {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  /* Ensures the content is not revealed until the animation */
}

.background-shape {
  background: #B9746B;

  width: 480px;
  height: 700px;
  -ms-transform: skewY(-20deg);
  -webkit-transform: skewY(-20deg); 
  transform: skewY(-20deg);
  border-radius: 30px;
  position: absolute;
  top: 50px;
  left: 750px;
  
}

.main-heading{
font-family: 'Open Sans', sans-serif;
  font-size: 76px;
  color: #072163;
}

.intro-text
{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #072163;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
/*****************************************************************//************************Intro************/

.round{
	border-radius: 30px;
}

.intro #intro-content {
  position: relative;
  top: 25vh;



}
.showcase-btn
{
  background-color: #072163;
  color: white;
}

@media (min-width: 992px) {
  .intro #intro-content p.lead {
    font-size: 140%;
  }
  .intro #intro-content h1.display-4 {
    font-size: 5.5rem;
  }
}
/****************************************************Cards Flexbox ************/

.row1-container{
	display: flex;
  background-color: #22a6b3;
	overflow-x: auto;
  width: 100vw;
}

.box {
	border-radius: 5px;
	box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
	padding: 30px;
	margin: 20px;
   width: 500px;
   background-color: red;
}

/****************************************************Profile pic************/
#profilepic{
  height:540px;
  width: 432px;
  position: absolute;
right: 0px;
text-shadow: #072163 3px;
bottom: 0px;
  
}

/****************************************************Icons Wrapper************/
.wrapper{

  text-align: center;
  display: flex;
  justify-content: start;
}

.wrapper .icon{
position: relative;

border-radius: 50%;
border:solid #394B8C 1px;
margin-left: 10px;
width: 50px;
height: 50px;
line-height: 50px;
font-size: 20px;
display: inline-block;
align-items: center;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
color: #394B8C;
text-decoration: none;
}

.wrapper .tooltip {
position: absolute;
top: 0;
line-height: 1.5;
font-size: 14px;
background-color: #ffffff;
color: #394B8C;
padding: 5px 8px;
border-radius: 5px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 8px;
width: 8px;
background-color: #ffffff;
bottom: -3px;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0px -1px 0px rgb(255, 255, 255);
}

/****************************************************Scroll icon bar************/
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  position: relative;
  bottom: -104px;
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid var(--text-color);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--text-color);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/****************************************************icon slider************/
.iconslider {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  background-color: #394B8C;
}

.iconslider > div > img
{
  height: 60px;
}