@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@700&display=swap');

:root {
  --text-color: #072163;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #b6c4e7;
  height: 100vh;

  font-size: 110%;
}

.logo-name {
  font-family: 'Open Sans', sans-serif;
  margin-left: 90px;
  color: var(--text-color);
}

.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

/*****************************************************************/
/************************NAVIGATION AND MAIN HEADER ************/

.nav-scroll {
  background-color: #b6c4e7;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.emailbtn {
  color: #072163;
  border-color: #072163;
}

.emailbtn:hover {
  color: #fff;
  background-color: #072163;
  border-color: #072163;
}

#logo {
  position: absolute;
  left: -50px;
  top: -10px;
}

#nav-btn {
  color: var(--text-color);
}

.nav-menu a {
  text-decoration: none;
  color: #072163;
}

#main-header #nav {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#main-header #nav .navbar-brand .logo {
  position: relative;
  font-size: 2rem;
  padding: 0.3rem 0.85rem;
  top: 1.1rem;
}

#main-header #nav .navbar-brand .logo-name {
  position: relative;
  top: 4px;
}

#main-header #nav .navbar-brand .logo-title {
  position: relative;
  font-size: 70%;
  top: -12px;
  left: 40px;
}

.typewriter {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  /* Ensures the content is not revealed until the animation */
}



@media (max-width: 576px) {
  .logo-name {
    margin-left: 60px;
  }

  .imagediv {
    background: #b9746b;
  }
}

.background-shape {
  background: #b9746b;
  z-index: -1;
  width: 27em;
  height: 700px;
  -ms-transform: skewY(-20deg);
  -webkit-transform: skewY(-20deg);
  transform: skewY(-20deg);
  border-radius: 30px;
  position: absolute;
  top: 50px;
  right: 0px;
}

.main-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.90rem;
  color: #072163;
}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #072163;
}

/*****************************************************************/
/************************Intro************/

.round {
  border-radius: 30px;
}

.showcase-btn {
  background-color: #072163;
  color: white;
  font-size: 1.2rem;
}

.showcase-btn:hover {
  background-color: #394b8c;
  color: white;
}

#resumetag {
  font-size: 2rem;
}

/****************************************************Icons Wrapper************/
.wrapper {
  text-align: center;
  display: flex;
  justify-content: start;
}

.wrapper .icon {
  position: relative;

  border-radius: 50%;
  border: solid #394b8c 1px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #394b8c;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #394b8c;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgb(255, 255, 255);
}

/****************************************************Scroll icon bar************/
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}

.mousey {
  position: relative;
  bottom: -104px;
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  margin: 0 auto;
  border: 2px solid var(--text-color);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--text-color);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/****************************************************icon slider************/
.iconslider {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  background-color: #394b8c;
}

.iconslider>div>img {
  height: 60px;
}

.border-top {
  border-top: 1px solid #394b8c6d !important;
}

/****************************************************Responsiveness************/

@media screen and (min-width: 768px) and (max-width: 1023px) {}